footer {
	background-color: #292a27;
	clear: both;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-top: 24px;
	padding-bottom: 13px;
	display: inline-block;
	width: 100%;
}

.share-buttons {
    margin: 0px;
    display: inline-block;
    padding-left: 32px;
}

.share-buttons li {
    list-style: none;
    float: left;
    margin-right: 26px;
}

.fa {
	font-size: 20px;
}

.footer-copyright {
	font-size: 15px;
	text-align: right;
}

.footer-phone {
	font-size: 20px;
}
